@use 'sass:math';
@use 'sass:color';

$primary-color: #389875;
$secondary-color: #18614D;
$fade-color: #68A891;
$white: #ffffff;
$black: #353E3A;
$yellow: #FFF568;
$red: #D62828;

$title-font-size: 36px;
$common-font-size: 20px;
$light-font-size: 16px;
$small-font-size: 12px;

$mobile-title-font-size: 26px;
$mobile-common-font-size: 16px;

$border-radius: 30px;
$common-padding: 0.7em 1em 0.7em 1em;
$container-padding: 1em;

$min-width-mobile: 0px;
$min-width-tablet: 767px;
$min-width-desktop: 1140px;

$interactive-object-height: 60px;

@font-face {
    font-family: 'Golos Text';
    src: url(../fonts/GolosText-VariableFont_wght.ttf);
}

@mixin media-mobile {
    @media screen and (min-width: $min-width-mobile) {
        @content;
    }
}

@mixin media-tablet {
    @media screen and (min-width: $min-width-tablet) {
        @content;
    }
}

@mixin media-desktop {
    @media screen and (min-width: $min-width-desktop) {
        @content;
    }
}

* {
    font-family: 'Golos Text';
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 1em;
    padding: 0 0 160px 0;
}

.preload * {
    transition: none !important;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    width: 100vw;
}

a {
    cursor: pointer;
}

input {
    outline: unset;

    &[type='checkbox'] {
        cursor: pointer;
    }

    &[type='text'],
    &[type='tel'] {
        padding: 2px 30px 0 30px;
    }

    &.just-validate-error-field:not([type='checkbox']) {
        box-shadow: inset 0 0 4px maroon;
        //animation: horizontal-shaking 0.15s 1;
    }

    /*
    @keyframes horizontal-shaking {
        0% {
            transform: translateX(0)
        }

        25% {
            transform: translateX(5px)
        }

        50% {
            transform: translateX(-5px)
        }

        75% {
            transform: translateX(5px)
        }

        100% {
            transform: translateX(0)
        }
    }
        */
}



ul {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}