$button-transition: all 0.3s linear;
$button-circle-size: 14px;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    min-height: $interactive-object-height;
    border: none;
    border-radius: $border-radius;
    background-color: transparent;
    padding: $common-padding;
    font-size: 18px;
    transition: $button-transition;
    cursor: pointer;

    &::after {
        content: ' ';
        display: block;
        width: $button-circle-size;
        height: $button-circle-size;
        border-radius: 50%;
        transition: $button-transition;
    }
}

.button-outline {
    color: $black;
    border: $secondary-color 1px solid;

    &::after {
        background-color: $primary-color;
    }

    @include media-mobile {
        &:active {
            color: $white;
            background-color: $black;
            border: $black 1px solid;

            &::after {}
        }
    }

    @include media-tablet {}

    @include media-desktop {
        &:hover {
            color: $white;
            background-color: $black;
            border: $black 1px solid;

            &::after {}
        }
    }
}

.button-light {
    color: $white;
    background-color: $primary-color;

    &::after {
        background-color: $secondary-color;
    }

    @include media-mobile {
        &:active {
            background-color: $secondary-color;

            &::after {
                background-color: $primary-color;
            }
        }
    }

    @include media-tablet {}

    @include media-desktop {
        &:hover {
            background-color: $secondary-color;

            &::after {
                background-color: $primary-color;
            }
        }
    }
}

.button-dark {
    color: $white;
    background-color: $secondary-color;

    &::after {
        background-color: $primary-color;
    }

    @include media-mobile {
        &:active {
            background-color: $primary-color;

            &::after {
                background-color: $secondary-color;
            }
        }
    }

    @include media-tablet {}

    @include media-desktop {
        &:hover {
            background-color: $primary-color;

            &::after {
                background-color: $secondary-color;
            }
        }
    }
}

.button-yellow {
    color: $black;
    background-color: $yellow;

    &:hover {
        background-color: color.mix($yellow, $white, 50%);
    }
}

.button-mobile-menu {
    $button-mobile-size: 40px;

    min-width: $button-mobile-size;
    max-width: $button-mobile-size;
    min-height: $button-mobile-size;
    max-height: $button-mobile-size;
    color: $white;
    background-color: $secondary-color;
    background-image: url(/assets/media/common/menu-burger.svg);
    background-size: calc($button-mobile-size/2);
    background-position: center;
    background-repeat: no-repeat;

    @include media-mobile {
        &:active {
            background-color: color.adjust($secondary-color, $lightness: 10%);
        }
    }

    @include media-tablet {}

    @include media-desktop {}
}