$checkbox-size: 18px;

.checkbox {
    display: flex;
    flex-shrink: 0;
    min-width: $checkbox-size;
    max-width: $checkbox-size;
    min-height: $checkbox-size;
    max-height: $checkbox-size;
    margin: 0;
    padding: 0;
    appearance: initial;
    background: transparent;
    border: 1px $white solid;
    border-radius: 2px;
}

.checkbox:checked::after {
    flex: 1;
    content: ' ';
    white-space: pre;
    padding: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' fill='none'%3E%3Cpath d='M5,60 L35,85L90,20' stroke-width='15' stroke='white'%3E%3C/path%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;

}