$menu-transition-open: 0.5s cubic-bezier(.3, .4, .01, .99);
$menu-transition-close: 0.3s linear;

$menu-base-transition-open: step-start 0.5s;
$menu-base-transition-close: step-end 0.3s;

$side-menu-width: 300px;
$side-menu-hpadding: 1em;
$side-menu-logo-width: 180px;

$bottom-menu-text-size: 14px;
$bottom-menu-item-height: 68px;
$bottom-menu-image-size: 26px;


.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.mobile-menu__base {
    display: none;
    position: absolute;
    background-color: color.change($black, $alpha: 0.5);
    width: 100vw;
}

.mobile-menu__side {
    display: none;
    position: absolute;
    width: calc($side-menu-width - $side-menu-hpadding * 2);
    padding: 1em $side-menu-hpadding 2em $side-menu-hpadding;
    background-color: $white;
    border-radius: calc($border-radius/4) 0 0 calc($border-radius/4);
    row-gap: 1.5em;
}

.mobile-menu__side>img {
    align-self: center;
    width: $side-menu-logo-width;
}

.mobile-menu__bottom {
    display: none;
    position: fixed;
    width: 100%;
}

.mobile-menu__bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    flex: 1;
    height: $bottom-menu-item-height;
    background-color: $secondary-color;
    border-radius: calc($border-radius/5) calc($border-radius/5) 0 0;
}

.mobile-menu__bottom-image {
    width: $bottom-menu-image-size;
    height: $bottom-menu-image-size;
}

.mobile-menu__bottom-text {
    color: $white;
    font-size: $bottom-menu-text-size;
}

@media #{$media} and (max-width: $max-width-mobile) {
    .mobile-menu {
        display: flex;
        height: 0vh;
        overflow-y: hidden;
        transition: height $menu-base-transition-close;
    }

    .mobile-menu-active {
        height: 100vh;
        transition: height $menu-base-transition-open;
    }

    .mobile-menu__base {
        display: block;
        opacity: 0;
        height: 0vh;
        transition:
            opacity $menu-transition-close,
            height $menu-base-transition-close;
    }

    .mobile-menu__base-active {
        opacity: 1;
        height: 100vh;
        transition:
            opacity $menu-transition-open,
            height $menu-base-transition-open;
    }

    .mobile-menu__side {
        display: flex;
        flex-direction: column;
        right: calc(-1 * $side-menu-width);
        transition: $menu-transition-close;
    }

    .mobile-menu__side-active {
        transform: translateX(calc(-1 * $side-menu-width));
        transition: $menu-transition-open;
    }

    .mobile-menu__bottom {
        display: flex;
        bottom: calc(-1 * $bottom-menu-item-height);
        transition: $menu-transition-close;
    }

    .mobile-menu__bottom-active {
        transform: translateY(calc(-1 * $bottom-menu-item-height));
        transition: $menu-transition-open;
    }
}