$menu-transition-open: 0.5s cubic-bezier(.3, .4, .01, .99);
$menu-transition-close: 0.3s linear;

$menu-base-transition-open: step-start 0.5s;
$menu-base-transition-close: step-end 0.3s;

$side-menu-width: 300px;
$side-menu-hpadding: 1em;
$side-menu-logo-width: 180px;

$bottom-menu-text-size: 14px;
$bottom-menu-item-height: 68px;
$bottom-menu-image-size: 26px;


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;

    @include media-mobile {
        & {
            display: flex;
            height: 0;
            transition: height $menu-base-transition-close;
        }

        &-active {
            height: 100vh;
            transition: height $menu-base-transition-open;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            display: none;
        }
    }
}

.mobile-menu__base {
    position: absolute;
    background-color: color.change($black, $alpha: 0.5);
    width: 100vw;

    @include media-mobile {
        & {
            display: block;
            opacity: 0;
            height: 0;
            transition:
                opacity $menu-transition-close,
                height $menu-base-transition-close;
        }

        &-active {
            opacity: 1;
            height: 100vh;
            transition:
                opacity $menu-transition-open,
                height $menu-base-transition-open;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            display: none;
        }
    }
}

.mobile-menu__side {
    position: absolute;
    right: calc(-1 * $side-menu-width);
    width: calc($side-menu-width - $side-menu-hpadding * 2);
    height: 100%;
    padding: 1em $side-menu-hpadding 2em $side-menu-hpadding;
    background-color: $white;
    border-radius: calc($border-radius/4) 0 0 calc($border-radius/4);
    row-gap: 1.5em;

    @include media-mobile {
        & {
            display: flex;
            flex-direction: column;
            transition: $menu-transition-close;
        }

        &-active {
            transform: translateX(calc(-1 * $side-menu-width));
            transition: $menu-transition-open;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            display: none;
        }
    }
}

.mobile-menu__side>img {
    align-self: center;
    width: $side-menu-logo-width;
}

.mobile-menu__bottom {
    position: fixed;
    bottom: 0;
    width: 100%;

    @include media-mobile {
        & {
            display: flex;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            display: none;
        }
    }
}

.mobile-menu__bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    flex: 1;
    height: $bottom-menu-item-height;
    background-color: $secondary-color;
    border-radius: calc($border-radius/5) calc($border-radius/5) 0 0;
}

.mobile-menu__bottom-image {
    width: $bottom-menu-image-size;
    height: $bottom-menu-image-size;
}

.mobile-menu__bottom-text {
    color: $white;
    font-size: $bottom-menu-text-size;
}