.order-form {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
}

.order-form__inner {
    display: flex;
    border-radius: $border-radius;
    padding: 0 100px 0 60px;
    height: 356px;
    align-items: center;
    justify-content: stretch;
}

.order-form-row-layout {
    @include media-mobile {
        & {
            flex-direction: column;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            flex-direction: row;
        }
    }
}

.order-form-path-gradient-background {
    background-image: url(/assets/media/common/order-form-background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.order-form__block {}

.order-form__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    padding: 0 0 4px 0;

    @include media-mobile {
        & {
            text-align: center;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            text-align: left;
        }
    }
}

.order-form__title-container {
    display: flex;
    flex-direction: column;
}

.order-form__title {
    height: 40px;
}

.order-form__text {
    font-size: 22px;
}

.order-form__blank {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 306px;
    max-width: 306px;
    padding: 16px 0 0 0;
}

.order-form__element {}

.order-form__field {
    height: $interactive-object-height;
    border: none;
    border-radius: $border-radius;
    background-color: $white;
    padding: 2px 0 0 30px;
    font-size: 16px;
    outline: none;
}

.order-form-field:invalid {
    color: $red;
    caret-color: $black;
}

.order-form__privacy-policy-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin: 2px 0 0 0;
    padding: 0 28px 0 0;
}

.order-form__privacy-policy-text {
    text-align: center;
    width: 207px;
}

.order-form__privacy-policy-checkbox {
    $order-form-privacy-policy-checkbox-size: 16px;

    flex: 1;
    width: $order-form-privacy-policy-checkbox-size;
    height: $order-form-privacy-policy-checkbox-size;
}