.page-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
}

.page-header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-header__menu {
    background-color: color.change($fade-color, $alpha: 0.1);
    border-radius: $border-radius;
    min-height: $interactive-object-height;

    @include media-mobile {
        & {
            display: none;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            display: flex;
        }
    }
}

.page-header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $common-padding;
    color: $black ;
    text-decoration: none;
}

.page-header__desktop-button {
    @include media-mobile {
        & {
            display: none;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            display: inherit;
        }
    }
}

.page-header__mobile-button {
    @include media-mobile {
        & {
            display: inherit;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            display: none;
        }
    }
}