.preview {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

.preview__inner {
    display: flex;
    gap: 20px;
    height: 620px;

    @include media-mobile {
        & {
            flex-direction: column;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            flex-direction: row;
        }
    }
}

.preview__item {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;

    &:first-child {
        padding: 34px 28px 0 28px;
    }

    &:last-child {
        max-width: calc(50% - 20px);
    }

    @include media-mobile {
        & {
            background-color: transparent;
            width: 100%;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            background-color: color.change($fade-color, $alpha: 0.1);
            width: 50%;
        }
    }
}

.preview__text {
    display: flex;
    flex-direction: column;

    .image-list {
        margin: 33px 0 0 0;
    }

    @include media-mobile {
        & {
            padding: 0;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            padding: 1em;
        }
    }
}

.preview__image {
    height: 100%;
    width: 100%;

    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $border-radius;
    }

    @include media-mobile {}

    @include media-tablet {}

    @include media-desktop {}
}

.preview__order-button {
    margin: 51px 0 0 16px;
    width: 306px;
}