.preview {
    display: flex;
    justify-content: center;
}

.preview__inner {
    display: flex;
    gap: 1em;

    @include media-mobile {
        & {
            flex-direction: column;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            flex-direction: row;
        }
    }
}

.preview__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: calc($border-radius/3);

    @include media-mobile {
        & {
            background-color: transparent;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            background-color: color.change($fade-color, $alpha: 0.1);
        }
    }
}

.preview__text {
    @include media-mobile {
        & {
            padding: 0;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            padding: 1em;
        }
    }
}

.preview__image {
    background-image: url(../media/image/preview-image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-mobile {
        & {
            min-height: 30vh;
        }
    }

    @include media-tablet {}

    @include media-desktop {
        & {
            min-height: 0;
        }
    }
}

.preview__order-button {
    margin: 1em;
}