.text-title {
    font-size: $title-font-size;
    font-weight: 700;
}

.text-plain {
    font-size: $common-font-size;
}

.text-light {
    font-size: $light-font-size;
}

.text-small {
    font-size: $small-font-size;
}

@media (max-width: $max-width-mobile) {
    .text-title {
        font-size: $mobile-title-font-size;
    }

    .text-plain {
        font-size: $mobile-common-font-size;
    }
}

.text-bold {
    font-weight: 600;
}

.text-yellow {
    color: $yellow;
}

.text-white {
    color: $white;
}

.text-black {
    color: color.change($black, $alpha: 0.9);
}

.text-green {
    color: $secondary-color;
}